

body {
    margin: 0;
}

.html {scroll-behavior: smooth;

}

.boxMajor {
    background-color: aqua;

}

.workSpace {
    width: 76%;
    /* position: absolute; */
    right: 0px;
    top: 89px;
    margin-left: 272px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    margin-right: 4%;
    background-color: #f6f7f8;
    z-index: 0;
}

.boardHead {
    background: #f6f7f8;
    width: 100%;
    height: 30%;
}

.toolsTop{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.toolsTop p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin: 0;
}
 
.boardSearch {
    display: flex;
    /* margin-right: 3%; */
}

.searchField {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 251px;
    height: 51px;
    margin-right: 40px;
    padding-right: 10px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.boardSearch input {
    width: 220px;
    height: 51px;
    background-color: transparent;
    border: 0px;
    border-radius: 10px;

}

.boardSearch input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #D1D1D1;
    padding-left: 20px;
}

.boardSearch input:focus{
    outline: none;
}

.searchField img {
    width:20px;
    height:20px;
}

.boardSearchBtn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 18px 10px;
    gap: 10px;
    
    width: 137px;
    height: 51px;
    
    background: #2A3647;
    border-radius: 10px;
    border: none ;
    flex: none;
    order: 1;
    flex-grow: 0;

    font-size: 21px;
    line-height: 120%;
    /* or 25px */


    /* white */

    color: #FFFFFF;
}
.boardSearchBtn:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.boardSearchBtn:active {
    background-color: #091931;
}


.boardBottom_dragNdropArea {
    width: 100%;
    height: 100vh; 
    background-color: #f6f7f8;
    display: flex;
    gap: 20px;

}

.toolsBottom {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* margin-right: 6%; */
    margin-bottom: 15px;

}

.toolsBottom p {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.toolsBottom a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px; 
    border: none;

}

.toolsBottom a:hover {
    cursor: pointer;

}

.toolsBottom a:hover img{
    filter: invert(54%) sepia(99%) saturate(674%) hue-rotate(165deg) brightness(92%) contrast(93%);
}

.toolsBottom a:active{
    background: #FFFFFF;
    /* stronger */
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: black;
}

.dragNdrop_1_toDo {
    display: flex;
    flex-direction: column;
    width: 25%;

}

.dragNdrop_2_InProgress {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.dragNdrop_3_AwaitingFeedback {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.dragNdrop_4_Done {
    display: flex;
    flex-direction: column;
    width: 25%;
}

.postIt {
    padding: 18px 19px;
    gap: 10px; 
    width: 250px;
    height: 239px;
    background: #FFFFFF;
    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.postIt_Head{
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}

.postIt_Body{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.postIt_Bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    width: 207px;
    height: 35px;

}

.postItInterior{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.postIt_Labels{
    /* padding: 4px 25px; */
    width: 103px;
    height: 27px;
    background-color: #FF7A00;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.postIT_Headline{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 120%;
    padding-top: 10px;
}

.postIt_Task{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    color: #A8A8A8;
    padding-top: 5px;
    padding-bottom: 10px;

}

/* .postIt_ProgressBar{
    
} */

.postIt_StatusAccomplished{
    width: 51px;
    height: 14px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 120%;
    color: #000000;
}

/* .postIt_PriorityClass{
    
} */

