.boxMajor {
    background-color: aqua;
    position: relative;

}

body {
    margin: 0;
}

.header {
    left: 15%;
    width: 85%;
    height: 89px;

    position: absolute;
    right: 0px;
    top: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;


    background: #FFFFFF;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    z-index:1;
}

.headerKanban {
    padding-left: 10%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 120%;
}

.headerFoto{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 106px;
    height: 49px;
    gap: 15%;
    margin-right: 5%;
}

.headerFoto a {
    width: 31px;
    height: 31px;
}

.fotoRound {
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    border: 3px solid #2A3647;
    z-index: 1;
}

.headerFotoUserLogo {
    width: 50px;
    height: 50px;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    z-index: 0;

}

.headerFoto img {
    border-radius: 100%;
}

.navBar {
    width: 15%;
    height: 100%;
    position: fixed;
    left: 0px;
    top: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #2A3647;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
}

.navCapa {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.navCapa img{
    /* position: absolute;
    left: 28.44%;
    right: 28.44%;
    top: 6.45%;
    bottom: 81.64%; */
}

.navMenu{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 20%;
    margin-top: 5%;

}

.navLinks {
    width: 100%;

}

.navLinks a {
    display: flex;
    flex-direction: flex-start;

    align-items: center;
    gap: 20px;
    height: 60px;
    width: 100%;
    padding-left: 2%;
    /* padding-right: 2%; */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    text-decoration: none !important;
    /* font-size: 16px; */
    word-break: keep-all;
    line-height: 120%;
    color: #FFFFFF;
    
    display: flex;
    align-items:center;
}

.navLinks a:hover {
    cursor: pointer;
    background-color:#29ABE2;

}

.navLinks a img {
    padding-right: 20px;
}

.navLegal {
    margin-top: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 200px;

}

.workSpace {
    width: 76%;
    position: absolute;
    right: 0px;
    top: 89px;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
    padding-right: 4%;
    background-color: #f6f7f8;
}

.boardHead {
    background: #f6f7f8;
    width: 100%;
    height: 30%;
}

.toolsTop{
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.toolsTop p{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    margin: 0;
}
 
.boardSearch {
    display: flex;
    margin-right: 3%;
}

.searchField {
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 251px;
    height: 51px;
    margin-right: 40px;
    padding-right: 10px;
    border: 1px solid #A8A8A8;
    border-radius: 10px;
}

.boardSearch input {
    width: 220px;
    height: 51px;
    background-color: transparent;
    border: 0px;
    border-radius: 10px;

}

.boardSearch input::placeholder {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;

    color: #D1D1D1;
    padding-left: 20px;
}

.boardSearch input:focus{
    outline: none;
}

.searchField img {
    width:20px;
    height:20px;
}

.boardSearch button {
    background: #2A3647;
    border: 1px solid;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 18px 10px;
    gap: 10px;
    
    width: 150px;
    height: 51px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;

    color: #FFFFFF; 
}

.boardSearch button:hover {
    cursor: pointer;
    background-color: #29ABE2;
}

.toolsBottom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 6%;
    margin-bottom: 15px;
}

.toolsBottom p {
    margin: 0;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    line-height: 120%;
    color: #2A3647;
}

.toolsBottom button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px; 

}

.toolsBottom button:hover {
    cursor: pointer;

}

.toolsBottom button img:hover {

}

.boardBottom_dragNdropArea {
    width: 100%;
    height: 70%;
    height: auto; 
    background-color: #f6f7f8;
    display: flex;
    align-items: center;
}

.dragNdrop_1_toDo {
    flex-wrap: wrap;
}

.postIt {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 18px 19px;
    gap: 10px;
    
    width: 250px;
    height: 239px;
    

    background: #FFFFFF;


    box-shadow: 0px 0px 14px 3px rgba(0, 0, 0, 0.04);
    border-radius: 30px;
}

.postItLabels{
    width: 103px;
    height: 27px;
    color: #FFFFFF;
    background-color: orange;
}

.dragNdrop_2_InProgress {
    flex-wrap: wrap;
}

.dragNdrop_3_AwaitingFeedback {
    flex-wrap: wrap;
}

.dragNdrop_4_Done {
    flex-wrap: wrap;
}

.PopUpContainer{
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    gap: 25px;
    isolation: isolate;

    position: relative;
    width: 623px;
    height: 824px;

    background: #FFFFFF;

    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.PopUpContainer{
position: absolute;
width: 21.65px;
height: 21.65px;
left: 574.31px;
top: 34px;
}

.d-none {
    display:none;
}

.d-on{
    display: flex;
}