.farbe0{
    background-color: #FF7A00;
}
.farbe1{
    background-color: #9327FF;
}
.farbe2{
    background-color: #29ABE2;
}
.farbe3{
    background-color: #FC71FF;
}
.farbe4{
    background-color: #02CF2F;
}
.farbe5{
    background-color: #AF1616;
}
.farbe6{
    background-color: #462F8A;
}
.farbe7{
    background-color: #FFC700;
}