
.summary-main{
    padding: 45px;
    overflow-y: auto;
}
.summary-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 30px;

    position: absolute;
    width: 679px;
    height: 73px;
    left: 355px;
    top: 171px;
}
.headline{
    width: 315px;
    height: 73px;
    /* Version 2/t1 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 61px;
    line-height: 120%;
    /* or 73px */
    color: #000000;
    flex: none;
    order: 0;
    flex-grow: 0;
}
.line{
    width: 0px;
    height: 59px;
    border: 3px solid #29ABE2;
    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}
.slogan{
    /* Everything in a nutshell! */
    width: 304px;
    height: 32px;
    /* Version 2/t5 */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 120%;
    /* or 32px */
    color: #2A3647;
    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}
.summary-content{
    display: flex;
    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 580px;
    height: 540px;
    left: 355px;
    top: 331px;
    /* Frame 69 */
    /* Auto layout */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 3px;
    position: absolute;
    width: 385px;
    height: 136px;
    left: 1002px;
    top: 533px;
}
.tasks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 35px;
    position: absolute;
    width: 580px;
    height: 540px;
    left: 355px;
    top: 331px;
}